<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-warning" href="/home"><em><strong>E-library</strong></em></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/books">Books</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
                    <a class="btn btn-warning btn-sm ml-3" href="/shelf">
                        <i class="fa fa-shopping-cart"></i> My Shelf
                    </a>
                    <a class="btn btn-danger btn-sm ml-3" href="/logout">
                        <i class="fa fa-shopping-cart"></i> Logout
                    </a>
                </form>
            </div>
        </div>
    </nav>
</header>
