<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h3 class="jumbotron-heading">Shelf for
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"></th:block>
            </h3>
        </div>
    </section>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container">
        <div class="row mx-md-4" th:if="${books.size() > 0}">
            <div th:each="book : ${books}" class="col-sm-4 my-3">
                <div class="card h-100">
                    <div th:text="${book.getCategory() != null}
                            ? ${book.getCategory().getName()} : 'No Category'" class="card-header"></div>
                    <div class="card-body">
                        <h5 th:text="${book.getTitle()}" class="card-title"></h5>
                        <h6 th:text="${book.getAuthor()}" class="card-subtitle mb-2 text-muted"></h6>
                        <p th:text="${book.getDescription()}" class="card-text text-muted"></p>
                    </div>

                    <div class="card-footer">
                        <form th:action="@{'/shelf/return-book/{id}' (id=${book.getId()})}"
                              th:method="POST"
                              sec:authorize="isAuthenticated()"
                              class="text-right my-0">
                            <button type="submit"
                                    class="btn btn-sm btn-primary cart-product">
                                <i class="fa fa-trash">Return book</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
